.card {
    width: 275px;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}

.curriculum-con {
    height: 80vh;
}

.kebab {
    width: 43px;
}

.kebab::before {
    content: url('../assets/kebab.svg');
}

.kebab:focus {
    background-color: #DCDCDC;
    box-shadow: none;
}


/* TOAST */

[class*='-toast'] {
    position: fixed;
    z-index: 99;
    overflow: show;
    margin: auto;
    right: 0.5in;
    bottom: 0.5in;
}


/* END TOAST */


/* SPINNER */

.spinner-border,
.spinner-con {
    position: fixed;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner-border {
    z-index: 99;
}

.spinner-con {
    z-index: 98;
    background: black;
    opacity: 0.40;
    width: 100%;
    height: 100%;
}


/* END SPINNER */