html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.tile {
    width: 275px;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}

.tile:hover a.card-link, .add-tile {
    box-shadow: var(--shad);
}


.redirect-card {
    width: 120px !important;
    text-align: center;
}

.curriculum-con {
    height: 80vh;
}

.kebab {
    width: 40px;
    height: 40px;
}

.kebab:hover {
    background-color: #DCDCDC;
    box-shadow: none;
}

.instruction:hover {
    box-shadow: var(--shad);
}

.link:hover {
    color:  #0d6efd;
}
.link-green:hover {
    color:  #28a745;
}

span[class='badge'] {
    padding: 0;
}

td .form-select {
    margin: 0;
}

/* SELECT2*/
.select2-container {
    padding: 0;
}

/*.select2-selection {*/
/*    z-index: 9999 !important;*/
/*}*/
/* IMAGE PREVIEW */
.image-preview-con {
    width: 250px; height: 250px;
    position: relative;
}

#resultImg {
    position: absolute;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-preview-con:hover #resultImg {
    opacity: 0.3;
}
.image-preview-con:hover .edit-text{
    opacity: 1;
}

.edit-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* IMAGE PREVIEW END */

/* TOAST */

[class*='-toast'] {
    position: fixed;
    z-index: 99;
    overflow: show;
    margin: auto;
    right: 0.5in;
    bottom: 0.5in;
}


/* END TOAST */


/* SPINNER */

#main-spinner-border,
#main-spinner-con {
    position: fixed;
    /*overflow: show;*/
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#main-spinner-border {
    z-index: 1070;
}

#main-spinner-con {
    z-index: 1070;
    background: black;
    opacity: 0.40;
    width: 100%;
    height: 100%;
}


/* END SPINNER */

.hidden{
    display:none;
    visibility:hidden;
  }

/* SELECT 2 */
