.doc {
    width: 8.5in !important;
    padding: 0.5in !important;
    height: auto;
}
.template {
    width: 7.5in !important;
    font-family: Arial !important;
    font-size: 13px !important;
    margin: 0;
}
.template li {
    width: 100%;
    min-height: 9.98in !important;
    margin: 0 !important;
}

/*Header*/
.report-title {
    text-align: center; margin-top: 40px; margin-bottom: 40px;
}

.title {
    margin-bottom: 0;
}

.sub-title {
    margin-top: 0;
}
/*Content*/
img {
    height: 100px;
    width: 100px;
}
td {
    border: 0.5px solid #C5C5C5;
}

/*Footer*/
.signatory-con {
    width: 50%; display: table-column;
}
